body{
  background: url("../images/back.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.jumbotron {
  background-image: url("../images/background.png");
  background-width: 100%;
  background-repeat: no-repeat;
  max-width: 800px;
  height: 350px;
  position: relative;
  top: 100px;
}

.img-rounded{
  background: url("../images/pokeball.png") no-repeat center;
}

.active-pokemon-img{
  position: absolute;
  bottom: 0;

}

.active-pokemon-img img{
  width: 200px;
}

.active-enemy{
  position: absolute;
  right: 10px;

}

.active-enemy img{
  width: 150px;
}

#fight{
  margin-top: 100px;
}